.main-navigation{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background: rgb(146, 90, 90);
    padding: 0 1rem;
    display: flex;
}

.header_icon h1{
    margin: 0;
}

.route-selection{
    margin: 0;
}

.route-selection ul {
    display: flex;
    list-style: none;
}

.route-selection li{
    margin: 0 1rem;
}

.route-selection a{
    text-decoration: none;
}

.route-selection a:hover,
.route-selection a:active,
.route-selection a.active{
    color: white;
}